body {
    margin: 0;
    padding: 0;
}

.label-vendor {
    width: 10px;
    height: 10px;
    background-color: #f36e57;
    margin-right: 10px;
}

.label-corridor {
    width: 10px;
    height: 10px;
    background-color: #57a4ea;
    margin-right: 10px;
}

.label-police {
    width: 10px;
    height: 10px;
    background-color: #666666;
    margin-right: 10px;
}

.label-DPW {
    width: 10px;
    height: 10px;
    background-color: #46c134;
    margin-right: 10px;
}

.label-box {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#map {
    width: 100%;
    height: 100vh;
    margin: auto;
}

.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

.mapboxgl-popup {
    max-width: 280px !important;
}

.mapboxgl-popup-content h4 {
    font-weight: 300;
    font-size: 1.5em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.mapboxgl-popup-content h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.mapboxgl-popup-content p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
}

/* styles for dropdowns */
#dropdown-container {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
}

@media (max-width: 1080px) {
    #dropdown-container {
        width: 100%;
        display: block;
        position: absolute;
        margin: 0;
    }
}

#date {
    background-color: #ffffff;
}

/* Legend styling */
#legend {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    margin-bottom: 30px;
}
