/* Reset styles */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

/* Map container */
#map {
    position: relative;
    height: 550px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Popup styles */

.mapboxgl-popup-content h4 {
    font-size: 1.5em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.mapboxgl-popup-content h2 {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.mapboxgl-popup-content p {
    margin-top: 0.3em;
    margin-bottom: 0em;
}

/* Overlay styling - centered on mobile */
@media (max-width: 400px) {
    .map-overlay {
        position: absolute;
        top: 420px;
        right: 5px;
        background: #fff;
        margin-right: 20px;
        font-family: Arial;
        overflow: hidden;
        border-radius: 3px;
    }

    .button-label {
        margin: 5px;
    }
}

/* Overlay styling - desktop */
.map-overlay {
    position: absolute;
    top: 440px;
    right: 20px;
    background: #fff;
    margin-right: 5px;
    font-family: Arial;
    overflow: hidden;
    border-radius: 3px;
}

/* legend stuff */

#button-container {
    display: block;
    justify-content:center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    float:left;
}

@media (min-width: 768px) {
    #button-container {
        flex-direction: row;
}
}

.button-label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 4px 0px 4px;
    }

#legend {
    padding-top: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 0px;
    height: 80px;
    margin-bottom: 40px;
    width: 240px;
    text-align: center;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.button-fieldset {
    position: absolute;
    background-color: #e6f9f8;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px;
    font-family: Arial;
    z-index: 100;
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}

.button-fieldset input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.button-fieldset label {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 0px solid rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
}

.button-fieldset label:hover {
    cursor: pointer;
}

.button-fieldset input:checked + label {
    background-color: #ace7ed;
    box-shadow: none;
}

.button-fieldset label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.button-fieldset label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.mapboxgl-popup-close-button:focus {
    outline: none;
}

.prop-yes {
    background-color: #00a4bf33;
    padding: 4px;
    border-radius: 2px;
    text-wrap: nowrap;
}

.prop-no {
    background-color: #e0221433;
    padding: 4px;
    border-radius: 2px;
    text-wrap: nowrap;
}

#prop-legend {
    font-size: 14px;
}

.endorsements {
    display:inline-block;
    list-style-type:none;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    margin-left: 2px;
    margin-right: 2px;
    max-width: 70px;
}

.prop-letter {
    font-size: 3em;
  }
  
  #glass-container {
    margin: 0px;
    padding-bottom: 10px;
    font-size: 18px;
    height: 80px;
  }
  
  #glass {
    width: 100%;
    margin-top: 25px;
    height: 15px;
    background: #0dc1d3;
    float: left;
    overflow: hidden;
  }
  
  #progress {
    float: left;
    width: 0;
    height: 100%;
    background: #e54c4c;
  }
  
  #mark-33 {
    border-left: 4px solid rgb(0, 0, 0);
    height: 100%;
    position: relative;
    left: 33.33%;
    margin-left: -2px;
    top: 0;
  }
  
  #mark-50 {
    border-left: 4px solid rgb(0, 0, 0);
    height: 100%;
    position: relative;
    left: 50%;
    margin-left: -2px;
    top: 0;
  }
  
  .no-votes {
    text-align: left;
    height: 30px;
    float: left;
    font-size: 14px;
  }
  
  .yes-votes {
    text-align: right;
    height: 30px;
    float: right;
    font-size: 14px;
  }
  
  .no {
    height: 0px;
    float: left;
    font-weight: 600;
  }
  
  .yes {
    text-align: right;
    height: 0px;
    float: right;
    font-weight: 600;
  }

  .heading-break {
    margin-bottom: 20px;
  }