
body {
    overflow: hidden;
    font-family: 'Barlow', sans-serif;
}

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tooltipdiv {	
    position: absolute;			
    padding: 10px;
    padding-top: 5px;
    font: 14px;		
    background: #ffffffee;
    border: 1px solid black;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    margin-top: 0em;
    margin-bottom: 0em;
    max-width: 320px;
}

.row {
    margin: 0px;
}

#tooltipdiv h4 {
    font-weight: 300;
    font-size: 1.2em;
    margin-top: 0em;
    margin-bottom: 0em;
}

#tooltipdiv h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

#tooltipdiv p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
    line-height: 1.5em; 
}

text.shadow {
    text-shadow: 0px 0px 5px #ffffff, 0px 0px 5px #ffffff, 0px 0px 5px #ffffff, 0px 0px 5px #ffffff, 0px 0px 5px #ffffff, 0px 0px 5px #ffffff, 0px 0px 5px #ffffff, 0px 0px 5px #ffffff, 0px 0px 5px #ffffff, 0px 0px 5px #ffffff;
}

#chart {
    display: block;
    margin: 0 auto;
}

