/* Apply font to the whole page */
body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #f8f9fa; Light background */
}

.content {
    padding-bottom: 10px;
}

.required { 
    font-size: smaller;
    color: gray;
}
/* Container layout */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto; /* Margin between containers */
    padding: 0 10px; /* Padding on the sides of the container */
    gap: 10px; /* Even spacing between columns */
}

/* Column styles */
.left-column,
.right-column {
    flex: 1; /* Ensure columns take equal width */
    min-width: 275px; /* Prevent columns from getting too small */
    box-sizing: border-box;
    padding-left: 20px;
    background-color: #fff; /* White background for columns */
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    max-width: 400px;
}

/* Hide empty right column */
.right-column:empty {
    display: none; /* Hide empty right column */
}

/* Specific style for the container when the right column is empty */
.container:has(.right-column:empty) {
    max-width: 400px; /* Adjust this value as needed */
    margin: 20px auto; /* Center the container */
}

/* Proposition block styling */
.prop h4 {
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: 600;
}

.prop p {
    font-size: 0.9em;
    color: #333;
}

/* Responsive layout */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack columns vertically on mobile */
        align-items: center;
    }

    .left-column,
    .right-column {
        width: 100%; /* Full width for each column */
    }
}

.threshold-line {
    position: absolute;
}