body {
    margin: 0;
    padding: 0;
    background-color: #6C7D7F;
    background-color: #6C7D7F;
}

#map {
    width: 100vw;
    height: 100vh;
}

.mapboxgl-popup-content h4 {
    font-weight: 300;
    font-size: 1.5em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.mapboxgl-popup-content h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.mapboxgl-popup-content p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
}