body {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

#map {
    width: 100vw;
    max-width: 600px;
    height: 550px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */

}

.cont {
    display: flex;
    justify-content: center; /* Center the container horizontally */
    align-items: center; /* Center the container vertically, if needed */
}

.instruction-wrapper {
    align-items: left !important; 
}

.instruction { 
    font-size: 16px;
    font-family: Barlow, sans-serif;
    margin: 10px 0;
    max-width: 600px; /* Optional: limit width for readability */
}


/* Container layout */
.dropdownContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;

}

.legend-labels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
    font-family: Barlow, sans-serif;

}
.legend-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between the two legend boxes */
    margin: 10px; /* Space between the map and the legends */
}

/* Mobile Styles */
@media (max-width: 768px) {
    .legend-container {
        flex-direction: column; /* Stack boxes on mobile */
        align-items: center; /* Center boxes horizontally */
    }
}

.color-scale { 
    max-height: 50px;
}

#legend {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
    font-family: Barlow, sans-serif;
}


#propositionDropdown {
    font-size: 20px; /* Increase font size for better readability */
    border-radius: 5px; /* Rounded corners */
    border: 0px solid gray; /* Border for visibility */
    margin: 0 auto; /* Center the dropdown itself */
    font-family: Barlow, sans-serif;
    width: 100vw;
    max-width: 600px;
    background-color: white; /* Match legend background */
    padding: 5px; /* Add padding similar to legend */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    appearance: none; /* Remove default styling in some browsers */
    position: relative;
    padding-right: 30px; /* Space for arrow */
}



.popup-header {
    margin: 2px 0; /* Reduce top and bottom margins */
    font-size: 16px; /* Adjust header font size */
    font-family: Barlow, sans-serif;
}

.popup-text {
    margin: 2px 0; /* Reduce margins on text elements */
    font-size: 16px; /* Adjust text font size */
    line-height: 1.2; /* Adjust line height */
    font-family: Barlow, sans-serif;

}


.mapboxgl-popup-content {
    background-color: rgba(255, 255, 255); /* 0.8 for 80% opacity */
    border-radius: 5px; /* Optional: adds rounded corners */
    color: #333; /* Text color to ensure readability */
}
