@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;900&display=swap');

  body {
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
    line-height: 1.4;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .less-bold {
    font-weight: 600;
  }

  hr {
    margin-top: 0;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;
  }

  #main-svg {
    position: relative;
  }

  @media (min-width: 992px) {
    #internal-container {
      padding-right: 5%;
    }
  }

  @media (max-width: 480px) {
    #internal-container {
      padding: 0px;
    }
  }

  .main-svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .close-button {
    cursor: pointer;
    vertical-align: text-top;
    margin-left: auto;
  }

  .popup-header {
    font-family: 'Barlow', sans-serif;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
  }

  #tooltipdiv {	
    font-family: 'Barlow', sans-serif;
    position: absolute;			
    padding: 10px;
    padding-top: 5px;
    font: 14px sans-serif;		
    background: #ffffffee;
    border: 1px solid black;
    font-family: 'Arial', sans-serif;;
    font-weight: 300;
    margin-top: 0em;
    margin-bottom: 0em;
    max-width: 320px;
  }

  .row {
    margin: 0px;
  }

  #tooltipdiv h4 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    margin-top: 0em;
    margin-bottom: 0em;
    }

  #tooltipdiv h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
  }

  #tooltipdiv p {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
    line-height: 1.5em; 
  }

  text.shadow {
    text-shadow: 0px 0px 5px #ffffff, 0px 0px 5px #ffffff, 0px 0px 5px #ffffff, 0px 0px 5px #ffffff, 0px 0px 5px #ffffff, 0px 0px 5px #ffffff;
  }

  #input {
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    display: block;
    margin: 0 auto;
  }

  #left-column {
    font-family: 'Barlow', sans-serif;
    padding: 0px;
    margin: 0px;
  }

  #right-column {
    font-family: 'Barlow', sans-serif;
    padding: 10px;
    padding-bottom: 0px;
  }

  #right-column p {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
  }

  @media (max-width: 992px) {
    #left-column {
      padding-bottom: 20px;
    }
    #right-column {
      padding-right: 10%;
      padding-left: 10%;
    }
  }

  .highlight {
    background-color: #c51d904b;
    padding: 3px;
    border-radius: 5px;
  }

/* buttons */
.button-fieldset {
    font-family: 'Barlow', sans-serif;
    position: relative;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px;
    font-family: Arial;
    z-index: 100;
    display: flex;
    overflow: hidden;
}

.button-fieldset input {
    position: relative;
    clip: rect(0, 0, 0, 0);
    height: 0px;
    width: 0px;
    border: 0;
    overflow: hidden;
}

.button-fieldset label {
    background-color: rgb(217, 217, 217);
    color: rgba(0, 0, 0, 0.6);
    line-height: 1;
    text-align: center;
    padding: 10px;
    border: 0px solid rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 0.1rem;
}

.button-fieldset label:hover {
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
}

.button-fieldset input:checked + label {
    background-color: #a2a2a2;
    box-shadow: none;
    font-family: 'Barlow', sans-serif;
}

#button-container {
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 20px);
    float:left;
    font-family: 'Barlow', sans-serif;
}

@media (min-width: 768px) {
    #button-container {
        flex-direction: row;
}
}

.link {
  stroke-dasharray: 10, 6;
  stroke-dashoffset: 400;
  animation: dash 200s linear infinite;
}

.link-static {
  stroke-dasharray: 10, 6;
  stroke-dashoffset: 400;
}

.link-focus {
  stroke-dasharray: 1, 0 !important;
}

@keyframes dash {
    to {
        stroke-dashoffset: 6000;
    }
}

.tag-501c3 {
  font-family: 'Barlow', sans-serif;
  background-color: #a3d994;
  border-radius: 10px;
  padding: 3px 6px 3px 6px;
  text-align: left;
  margin: 0px 5px 0px 5px;
}

.tag-501c4 {
  font-family: 'Barlow', sans-serif;
  background-color: #edc181;
  border-radius: 10px;
  padding: 3px 6px 3px 6px;
  text-align: left;
  margin: 0px 5px 0px 5px;
}

.tag-pac {
  font-family: 'Barlow', sans-serif;
  background-color: #ed9c81;
  border-radius: 10px;
  padding: 3px 6px 3px 6px;
  text-align: left;
  margin: 0px 5px 0px 5px;
}