 /* Center the container and set max width */
 .table-container {
    max-width: 500px;
    margin: 0 auto; /* Center align */
    padding: 1rem; /* Optional padding */
    overflow-x: auto; /* Allow horizontal scrolling */
}

.percentage {
    font-size: 16px;
    display: block;
    margin-bottom: 2px; /* Reduce space below the percentage */
}

.votes {
    font-size: 14px;
    color: grey;
    display: block;
    margin-top: 0; /* Remove extra space above votes */
    line-height: 1.1; /* Slightly reduce line height */
}

/* Responsive table within the container */
.table-responsive {
    width: 95%;
    overflow-x: auto; /* Ensure horizontal scroll for table */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
    margin: 2px;
}

/* Table styling */
#electionResults {
    border-collapse: collapse;
    border: 1px solid #ddd; /* Border around the table */
    width: 100%; /* Make sure table fits the container */
}

/* Basic styling for cells */
td {
    text-align: center;
    padding: 4px; /* Added padding for table cells */
}

/* Font styling */
body, #electionResults {
    font-family: "Barlow", sans-serif;
}

#electionResults tbody tr {
    background-color: #fff; /* Default white */
}

#electionResults tbody tr:hover {
    background-color: #f1f1f1; /* Light gray background on hover */
}

/* Responsive font adjustments */
@media (max-width: 500px) {
    #electionResults thead th,
    #electionResults tbody td {
        padding: 6px;
    }
}

@media (max-width: 450px) {
    #electionResults thead th,
    #electionResults tbody td {
        padding: 4px;
    }
}
