body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* pop-up styling */

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/18px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-content h4 {
    font-weight: 300;
    font-size: 1.5em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.mapboxgl-popup-content h5 {
    font-weight: 300;
    font-size: 1.2em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.mapboxgl-popup-content h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.mapboxgl-popup-content p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
}

/* overlay styling */
.map-overlay {
    position: absolute;
    top: 0;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    border-radius: 3px;
    padding: 10px;
}

/* styles for dropdowns */
.dropdown {
    margin-bottom: 10px;
    font-size: 16px;
}

@media (max-width: 1080px) {
    .dropdown {
        width: 100%;
        display: block;
    }
}

#id5_6pm {
    background-color: #48c9af80;
}

#id630_730pm {
    background-color: #e7a55380;
}

#id8_9pm {
    background-color: #29296580;
}
