body {
    margin: 0;
    padding: 0;
    background-color: #6C7D7F;
}

#map {
    width: 100vw;
    height: 100vh;
}

.mapboxgl-popup-content h4 {
    font-weight: 300;
    font-size: 1.5em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.mapboxgl-popup-content h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.mapboxgl-popup-content p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

	/* overlay styling */

	.map-overlay {
		position: absolute;
		bottom: 0;
		right: 0;
		background: #fff;
		margin-right: 20px;
		font-family: Calibri;
		overflow: auto;
		border-radius: 3px;
	}

	/* legend stuff */

	@media only screen and (min-width: 420px) {
		#legend {
			padding: 10px;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
			line-height: 18px;
			height: 135px;
			margin-bottom: 40px;
			width: 120px;
		}
	  }
	  


	  @media only screen and (max-width: 420px) {
		#legend {
			padding: 10px;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
			line-height: 18px;
			height: 135px;
			margin-bottom: 40px;
			width: 140px;
		}
	  }

	.legend-key {
		display: inline-block;
		border-radius: 20%;
		width: 10px;
		height: 10px;
		margin-right: 5px;
  	}

	.legend-radio-1 {
		background-color: #F39C12a9;
	}

	.legend-radio-2 {
		background-color: #EC7063a9;
	}

	.legend-radio-3 {
		background-color: #A569BDa9;
	}

    .legend-radio-4 {
		background-color: #58D68Da9;
	}

	.legend-radio-5 {
		background-color: #7F8C8Da9;
	}
